{% extends "base.html" %}
{% block content %}
<body class="text-center">
    <div class="container">
      <img class="mb4 w-10 p-3" src="https://www.seekpng.com/png/full/20-207845_pokeball-png.png" alt="" style="height:200px;">
      <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
      <br>
      <form action="" method="post" name="changePassword" class="form-register">

          {{ form.hidden_tag() }}

          <fieldset class="form-field">
            {{ form.old_password.label }}
            {{ form.old_password(class='form-control', placeholder='Old Password') }}
          </fieldset> <br>
          {% for error in form.old_password.errors %}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ error }}
          </div>
          {% endfor %}

          <fieldset class="form-field">
            {{ form.new_password.label }}
            {{ form.new_password(class='form-control', placeholder='New Password') }}
          </fieldset> <br>
          {% for error in form.new_password.errors %}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ error }}
          </div>
          {% endfor %}

          <fieldset class="form-field">
            {{ form.password_confirmation.label }}
            {{ form.password_confirmation(class='form-control', placeholder='Confirm New Password') }}
          </fieldset> <br>
          {% for error in form.password_confirmation.errors %}
          <div class="alert alert-danger" role="alert">
            <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ error }}
          </div>
          {% endfor %}

          <p class=text-center><input type="submit" class="btn btn-dark" value="Change Password"></p>

      </form>
    </div>
  </body>
{% endblock %}