{% extends "base.html" %}
{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center" style="color:white; background-color:darkred">
	<div class="col-md-8 p-lg-8 mx-auto my-8">
        <img class="mb4 w-10 p-3" src="https://www.seekpng.com/png/full/20-207845_pokeball-png.png" alt="" style="height:200px; margin-top:-40px;">
		<h1 class="display-8 font-weight-normal">Welcome to The Pokemon Market</h1>
		<p class="lead font-weight-normal">Start catching by clicking the link below</p>
		<a class="btn btn-primary" href="/market">Catch 'Em All</a>
	</div>
	<div class="product-device box-shadow d-none d-md-block"></div>
	<div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>
{% endblock %}




<!-- <h1>Home</h1>
<br>
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">This is our content for the Home Page</h5>
	</div> -->